#background {
  background-position: center;
  transition: opacity 1s ease-in-out;
  will-change: opacity;
  background-size: cover;
  z-index: 1;
  opacity: 0;
  &.background--loaded {
    opacity: 1;
  }
}
