.double-page {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--page-double-width);
}

.page {
  position: absolute;
  top: 0;
  display: inline-block;
  left: 50%;
  transition: all 0.75s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  will-change: transform;
  transform: perspective(300vh) rotateY(0deg);
  &--back {
    backface-visibility: visible;
    .page__image, .credits {
      transform: rotateY(180deg);
    }
    .page__number {
      right: 0;
      transform: rotateY(180deg);
    }
  }
  &--front {
    backface-visibility: hidden;
    .page__number {
      right: 0;
    }
  }
  &__image {
    width: var(--page-width);
    height: var(--page-height);
  }
  &--border {
    border: var(--page-border-width) solid var(--light-pink);
    .page__image {
      width: var(--image-width);
      height: var(--image-height);
    }
  }
  &--type-image, &--type-credits, &--type-cover {
    width: var(--page-width);
    height: var(--page-height);
    background: var(--light-grey);
    box-shadow: inset 10px 0 15px 0 rgba(0, 0, 0, .1);
  }
  &--type-credits {
    display: flex;
  }
  &--flipped {
    .page {
      transform: perspective(300vh) rotateY(-180deg);
    }
  }
  &__number {
    position: absolute;
    bottom: 0;
    padding: 15px;
    font-size: .875rem;
    backface-visibility: visible;
  }
}
